#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.profile-img {
  width: 70%;
  margin-left: 15%;
  height: auto;
  border-radius: 50%;
  border: solid 2px #306392;
}
.top-border {
  border-top: solid 1px #5291d3;
  border-radius: 20px;
}
.top-border-bottom {
  border-top: solid 1px #5291d3;
  border-bottom: solid 1px #5291d3;
  border-radius: 20px;
}
.top-border-left {
  border-top: solid 1px #5291d3;
  border-left: solid 1px #5291d3;
  border-radius: 20px;
}
.top-border-right {
  border-top: solid 1px #5291d3;
  border-right: solid 1px #5291d3;
  border-radius: 20px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.color-text{
  color: #306392 !important;
}
.black-text{
  color: black !important;
}
.red-text{
  color: red !important;
}
.instagram-color-text {
  color: #E1306C !important;
}
h2{
  color: #306392 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}
h1 {
  font-size: x-large !important;
}
h2 {
  font-size: 1.25rem !important;
}
h3 {
  font-size: medium !important;
}
h4 {
  font-size: small !important;
}
h5 {
  font-size: x-small !important;
}
h6 {
  font-size: xx-small !important;
}

footer {
  font-size: small !important;
}
/* .fade-in {
  opacity: 0 !important;
  transform: translateY(10px) !important;
  animation: fadeIn 0.5s ease forwards !important;
}

@keyframes fadeIn {
  to {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
} */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
